.titulodespesa {
  font-size: 500%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cards {
  margin-bottom: 2%;
  padding-left: 60px;
  padding-right: 60px;
}

.card {
  margin-bottom: 2%;
}

.row {
  display: flex;
  justify-content: center;
}

.buttons {
  color: white
}

.lastbuttons {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
