
      <img src="https://raw.githubusercontent.com/JoshInLisbon/WALD/master/for_WALD_apps/logo.png" style="max-width: 250px;" />
      <h1>🍻 Welcome to your WALD app</h1>
      <h3>Models with views</h3>

          <p><%= link_to 'despesas Index', despesas_path %></p>
        

          <p><%= link_to 'entradas Index', entradas_path %></p>
        
      <h3>Models without views</h3>

            <p>users</p>
          
