<header>
  <section>
    <div class="home-img">
      <div class="container home-text">
        <ul class="nobull">
          <li><h1 id="titulodespesa">Gestor de finanças</h1></li>
          <li><h4>Escolha a opção</h4></li>
          <div class="opt">
            <li class="options"><%= link_to 'Despesas', home_path %></li>
            <li class="options"><%= link_to 'Entradas', entradas_path %></li>
          </div>
        </ul>
      </div>
    </div>
  </section>
</header>



